@charset "utf-8";
@use "../global" as global;

/* top
----------------------------------- */
.top {
    width: 100%;
    height: 45rem;
    background: linear-gradient(90deg, transparent 0%, transparent 46%, global.$color-main 46%, global.$color-main 100%);
    position: relative;

    @include global.mq(md) {
        height: 61.5rem;
        background: linear-gradient(90deg, transparent 0%, transparent 47%, global.$color-main 47%, global.$color-main 100%);
    }

    @include global.mq() {
        height: 45rem;
        background: linear-gradient(90deg, transparent 0%, transparent 47%, global.$color-main 47%, global.$color-main 100%);
    }
}

.top__img {
    width: calc(1100 / 1440 * 100%);
    height: calc(670 / 780 * 100%);
    position: relative;

    &._about {
        background: url(../img/about-top.png) no-repeat center center / cover;
    }

    &._contact {
        background: url(../img/contact-top.png) no-repeat center center / cover;
    }

    @include global.mq(md) {
        width: calc(580 / 768 * 100%);
    }

    @include global.mq() {
        height: calc(324 / 375 * 100%);
    }
}

.top__message {
    position: absolute;
    top: 35%;
    right: 10%;
    color: global.$color-text_wh;

    @include global.mq(md) {
        top: 36%;
        right: 12.5%;
    }

    @include global.mq() {
        top: 33%;
        right: 5%;
    }
}

.top__title {
    font: 800 7.2rem global.$font-family-awesome_en;
    letter-spacing: 0.063em;

    @include global.mq(md) {
        font-size: 5.2rem;
    }

    @include global.mq() {
        font-size: 5.2rem;
    }
}

.top__lead {
    font-size: 2rem;
    letter-spacing: 0.005em;

    @include global.mq(md) {
        font-size: 1.6rem;
    }

    @include global.mq() {
        font-size: 1.6rem;
    }
}