@charset "utf-8";

$font-family-awesome_jp: YuGothic,'Yu Gothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
$font-family-awesome_en: 'Montserrat', sans-serif;

$max-width: 1440px;

// インナー幅
$layout-width-inner: 1100px;

// フォント
$size-main: 1.6rem;

// ベース
$color-main: #222222;
$color-accent: #525252;

// 背景
$color-bg: #fff;
$color-bg_gray: #F2F2F2;

// テキスト
$color-text_bk: #000;
$color-text_wh: #fff;
$color-text_gray: #CECECE;