@charset "UTF-8";
@use "../../../global" as global;

/* about
----------------------------------- */
.about {
    margin-top: 12rem;
    background: url(../img/about.png) no-repeat center center / cover;
    padding: 11rem 5rem;
    position: relative;

    @include global.mq(md) {
        margin-top: 8rem;
        width: 100vw;
        padding: 6rem 0;
    }

    @include global.mq() {
        margin-top: 7.8rem;
        width: 100vw;
        padding: 5rem 0;
    }
}

.about__contents {
    width: 59rem;
    margin-right: auto;
    background: global.$color-bg;
    padding: 5rem 3rem;
    position: relative;
    z-index: 2;

    @include global.mq(md) {
        width: calc(590 / 768 * 100%);
        margin-left: auto;
        padding: 4rem 3rem;
    }

    @include global.mq() {
        width: calc(345 / 375 * 100%);
        margin-left: auto;
    }
}

.about__text {
    margin-top: 3rem;
    line-height: 1.5;

    @include global.mq() {
        font-size: 1.4rem;
    }
}

.btn {
    &._about {
        margin-top: 6.3rem;

        @include global.mq(md) {
            margin-top: 5.4rem;
        }

        @include global.mq() {
            margin-top: 7.5rem;
        }
    }
}

.gray__bg {
    background: linear-gradient(180deg, transparent 0%, transparent 40%, global.$color-bg_gray 40%, global.$color-bg_gray 100%);
    padding-bottom: 7rem;
    
    @include global.mq(md) {
        background: linear-gradient(180deg, transparent 0%, transparent 0%, global.$color-bg_gray 0%, global.$color-bg_gray 100%);
        padding-bottom: 4rem;
    }

    @include global.mq() {
        background: linear-gradient(180deg, transparent 0%, transparent 10%, global.$color-bg_gray 10%, global.$color-bg_gray 100%);
        padding-bottom: 3.8rem;
    }
}