@charset "UTF-8";
@use "../../../global" as global;

/* index-fv
------------------------------------ */
.fv {
    width: 100%;
    height: 74rem;
    background: linear-gradient(90deg, transparent 0%, transparent 46%, global.$color-main 46%, global.$color-main 100%);
    position: relative;

    @include global.mq(md) {
        height: 102.4rem;
        background: linear-gradient(90deg, transparent 0%, transparent 27%, global.$color-main 27%, global.$color-main 100%);
    }

    @include global.mq() {
        height: 66.7rem;
        background: linear-gradient(90deg, transparent 0%, transparent 25%, global.$color-main 25%, global.$color-main 100%);
    }
}

.fv__img {
    width: calc(1100 / 1440 * 100%);
    height: calc(673 / 780 * 100%);
    background: url(/img/fv.png) no-repeat center center / cover;
    position: relative;

    @include global.mq(md) {
        width: calc(600 / 768 * 100%);
        height: calc(890 / 1024 * 100%);
    }

    @include global.mq() {
        height: calc(326 / 375 * 100%);
    }
}

.fv__message {
    position: absolute;
    top: 21%;
    right: 13.5%;
    color: global.$color-text_wh;

    @include global.mq(md) {
        top: 32%;
        right: 12.8%;
    }

    @include global.mq() {
        top: 26%;
        right: 10%;    
    }
}

.fv__title {
    display: flex;
    flex-direction: column-reverse;
}

.fv__company {
    font: 800 2rem global.$font-family-awesome_en;

    @include global.mq(md) {
        font-size: 1.6rem;
    }

    @include global.mq() {
        font-size: 1.6rem;
    }
}

.fv__lead {
    font: bold 2rem global.$font-family-awesome_jp;

    @include global.mq(md) {
        font-size: 1.6rem;
    }

    @include global.mq() {
        font-size: 1.6rem;
    }
}

.fv__text {
    font: 800 7.2rem global.$font-family-awesome_en;
    margin-top: 1rem;

    @include global.mq(md) {
        font-size: 5.6rem;
        line-height: 1;
    }

    @include global.mq() {
        font-size: 5.6rem;
        line-height: 1;
    }
}