@charset "UTF-8";
@use "../../../global" as global;

/* works culture
--------------------------------------- */
.works-culture__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 7rem;

    @include global.mq(md) {
        display: block;
        margin-top: 6rem;
    }

    @include global.mq() {
        display: block;
        margin-top: 4rem;
    }
}

.works, .culture{
    width: calc(520 / 1100 * 100%);

    @include global.mq(md) {
        width: 52rem;
    }

    @include global.mq() {
        width: 100%;
    }
}

.culture {
    @include global.mq(md) {
        margin-top: 8rem;
    }

    @include global.mq() {
        margin-top: 4rem;
    }
}

.card__img {
    margin-top: 3rem;
    position: relative;
}

.card__text {
    margin-top: 2.7rem;
}

.btn {
    &._card {
        margin-top: 2.8rem;
    }
}