@charset "UTF-8";
@use "../../../global" as global;

/* ceo
------------------------------------ */
.ceo {
    margin-top: 12rem;
    position: relative;
    padding-top: 15rem;

    @include global.mq(md) {
        margin-top: 8rem; 
        padding-top: 12rem;
    }

    @include global.mq() {
        margin-top: 8rem; 
        padding-top: 13rem;
    }
}

.ceo__img {
    width: 42rem;
    position: absolute;
    top: 0;
    left: 0;

    @include global.mq(md) {
        width: calc(320 / 708 * 100%);
    }

    @include global.mq() {
        width: 100%;
        max-width: 34rem;
        left: -5%;
    }
}

.ceo__message {
    width: calc(770 / 1110 * 100%);
    background: global.$color-bg_gray2;
    padding: 15rem 0;
    margin-left: auto;

    @include global.mq(md) {
        padding: 20% 4.1rem;
    }

    @include global.mq() {
        width: 100%;
        padding: 12.6rem 2rem 17.8rem 2rem;
    }
}

.message__wrapper {
    width: calc(400 / 770 * 100%);
    margin: 0 auto;

    @include global.mq(md) {
        width: 100%;
    }

    @include global.mq() {
        width: 100%;
    }
}

.ceo__text {
    margin-top: 3rem;

    @include global.mq() {
        font-size: 1.4rem;
    }
}